<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KColor_darkText</key>
	<dict>
		<key>light</key>
		<string>0x06121E</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0xffffff</string>
		<key>darkAlpha</key>
		<string>0.87</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string>darkText</string>
	</dict>
	<key>KColor_lightText</key>
	<dict>
		<key>light</key>
		<string>0xBDC4CE</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0xffffff</string>
		<key>darkAlpha</key>
		<string>0.38</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string>999文本的颜色</string>
	</dict>
	<key>KColor_middleText</key>
	<dict>
		<key>light</key>
		<string>0x8C9198</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0xffffff</string>
		<key>darkAlpha</key>
		<string>0.38</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string>999文本的颜色</string>
	</dict>
	<key>KColor_bg</key>
	<dict>
		<key>light</key>
		<string>0xffffff</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0x121212</string>
		<key>darkAlpha</key>
		<string>1</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string></string>
	</dict>
	<key>KColor_secondaryBg</key>
	<dict>
		<key>light</key>
		<string>0xffffff</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0x333333</string>
		<key>darkAlpha</key>
		<string>1</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string></string>
	</dict>
	<key>KColor_bg_white</key>
	<dict>
		<key>light</key>
		<string>0xffffff</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0xffffff</string>
		<key>darkAlpha</key>
		<string>1</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string>纯白颜色</string>
	</dict>
	<key>KColor_blue</key>
	<dict>
		<key>light</key>
		<string>0x409EFF</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0x409EFF</string>
		<key>darkAlpha</key>
		<string>1</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string>蓝色</string>
	</dict>
	<key>KColor_bg_gray</key>
	<dict>
		<key>light</key>
		<string>0xBDC4CE</string>
		<key>lightAlpha</key>
		<string>1</string>
		<key>dark</key>
		<string>0xBDC4CE</string>
		<key>darkAlpha</key>
		<string>1</string>
		<key>num</key>
		<integer>0</integer>
		<key>info</key>
		<string>灰色</string>
	</dict>
	<key>KFont_boldLarge</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Semibold</string>
		<key>fontSize</key>
		<string>16</string>
	</dict>
	<key>KFont_boldMiddle</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Semibold</string>
		<key>fontSize</key>
		<string>14</string>
	</dict>
	<key>KFont_boldSmall</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Semibold</string>
		<key>fontSize</key>
		<string>12</string>
	</dict>
	<key>KFont_regularLarge</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Regular</string>
		<key>fontSize</key>
		<string>16</string>
	</dict>
	<key>KFont_regularMiddle</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Regular</string>
		<key>fontSize</key>
		<string>14</string>
	</dict>
	<key>KFont_regularSmall</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Regular</string>
		<key>fontSize</key>
		<string>12</string>
	</dict>
	<key>KFont_mediumLarge</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Medium</string>
		<key>fontSize</key>
		<string>16</string>
	</dict>
	<key>KFont_mediumMiddle</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Medium</string>
		<key>fontSize</key>
		<string>14</string>
	</dict>
	<key>KFont_mediumSmall</key>
	<dict>
		<key>fontName</key>
		<string>PingFangSC-Medium</string>
		<key>fontSize</key>
		<string>12</string>
	</dict>
</dict>
</plist>
